#root {
  max-width: 80rem;
  margin: 0 auto;
  /* padding: 32px; */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* .Section-hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  align-items: center;
  justify-items: center;
  padding: 2em;
}

.Section-flex {
  display: flex;
  flex-flow: column nowrap;
  gap: 2em;
  align-items: center;
  justify-content: flex-start;
} */

.Header {
  padding: 1em;
  background-color: #007aff;
  color: white;
  display: flex;
  gap: 32px;
  justify-content: flex-end;
  align-items: center;
}

.Header-a {
  color: white;
  text-decoration: none;
}

.Section {
  padding: 4rem 0 0 0;
  display: flex;
  flex-flow: row nowrap;
}

.Left {
  flex-flow: row-reverse nowrap;
}

.Section-right {
  margin: 0 4rem;
  text-align: left;
  display: flex;
  flex-flow: column nowrap;
  /* gap: 1rem; */
  justify-content: center;
  align-items: flex-start;
}

.Section-hero-icon {
  width: 3rem;
  height: 3rem;
}

.Section-h1 {
  font-size: 2rem;
  font-weight: 700;
  color: white;
}

.Section-p {
  font-size: 1rem;
  color: white;
}

.Section-img-app {
  width: 8rem;
}

.Section-left {
  margin: 0 4rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
}

.Section-img {
  width: 20rem
}


/* Ajustes responsivos */
@media (max-width: 48rem) {
  .Section-hero {
      flex-direction: column;
      text-align: center;
      padding: 1.25rem;
  }

  .Section-flex {
      max-width: 100%;
  }

  .hero-image {
      width: 15.625rem;
      margin-top: 1.25rem;
  }
}