#root {
  max-width: 80rem;
  margin: 0 auto;
  /* padding: 32px; */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* ********************** CSS del header ********************* */
.Header {
  padding: 1em;
  background-color: #007aff;
  color: white;
  display: flex;
  gap: 32px;
  justify-content: flex-end;
  align-items: center;
}

.Header-a {
  color: white;
  text-decoration: none;
}

/* ********************** CSS de las secciones ********************* */

.Section {
  padding: 4rem 0 0 0;
  display: flex;
  flex-flow: row nowrap;
  margin: 0 auto;
}

.Left {
  flex-flow: row-reverse nowrap;
}

.Section-right {
  max-width: 20rem;
  text-align: left;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.Section-hero-icon {
  width: 3rem;
  height: 3rem;
}

.Section-h1 {
  font-size: 2rem;
  font-weight: 700;
  color: white;
}

.Section-p {
  font-size: 1rem;
  color: white;
}

.Section-img-app {
  width: 8rem;
}

.Section-left {
  max-width: 20rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
}

.Section:nth-of-type(2) {
  padding: 0 0 4rem 0;
}

.Section:nth-of-type(3) {
  padding: 0 0 4rem 0;
}

.Section-img {
  width: 90%;
}

/* ********************** CSS de las aplicaciones ********************* */

.Aplicaiones {
  background-color: #cbcbcb;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 3rem;
  gap: 3rem;
}

.Aplicaiones-div {
  max-width: 10rem;
  padding: 0.6rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  border-radius: 10px;
}

.Aplicaiones-img {
  width: 2rem;
}

.Aplicaiones-h3 {
  color: white;
  font-size: 0.8em;
}

.Aplicaiones-h3:nth-of-type(6) {
  color: black;
}

/* ********************** CSS de las clientes ********************* */

.Clients {
  background-color: #cbcbcb;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 3rem;
  gap: 3rem;
}

.Client-div {
  max-width: 10rem;
  padding: 0.6rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  border-radius: 10px;
}

.Client-img {
  width: 2rem;
}

.Client-h3 {
  color: black;
  font-size: 0.8em;
}




/* Ajustes responsivos */
@media (max-width: 48rem) {
  .Section-hero {
      flex-direction: column;
      text-align: center;
      padding: 1.25rem;
  }

  .Section-flex {
      max-width: 100%;
  }

  .hero-image {
      width: 15.625rem;
      margin-top: 1.25rem;
  }
}